ion-content.background{ 
    background-color: white;
    --background: url(/assets/wave2.svg) 0 100% no-repeat ;

    
    
}
ion-card.background{
    
    --background: url(/assets/wave5.svg) 0 0% no-repeat , url(/assets/wave4.svg) 0 100% no-repeat;
   
    
}

