<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>

  <div id="container">
    <ion-item>
      <ion-label position="floating" >Correo electronico:</ion-label>
      <ion-input  email [(ngModel)]="co"></ion-input>
    </ion-item>
    <!--
    <ion-item>
      <ion-label position="floating">Contraseña nueva:</ion-label>
      <ion-input type="password" [(ngModel)]="cn"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Reintentar contraseña nueva:</ion-label>
      <ion-input type="password" [(ngModel)]="cnn"></ion-input>
    </ion-item>
-->
    <ion-item> 
      <h1>
        <ion-button style="padding-left: 50%;" color="tertiary"shape="round" (click)="update()">Actualizar</ion-button> 
      </h1>
      </ion-item>
    
  </div>
 
</ion-header>

<ion-content>

</ion-content>
